{% extends 'base.html' %}

{% block title %} Experience {% endblock title %}
{% load static %}

{% block content %}
<section class="experience-section center-column">
    <h2>Experience | Education</h2>

    <div class="experience-list">

        <div class="experience-card">
            <p>Name of the school or company</p>
            <p>Course name / Job Position</p>
            <p>A short description about the about the job position or educational program.</p>
            <p>Month YYYY - Month YYYY</p>

            <div class="skills-container center">
                <label>Skill</label>
                <label>Skill</label>
                <label>Skill</label>
            </div>

        </div>

        <div class="experience-card">
            <p>Name of the school or company</p>
            <p>Course name / Job Position</p>
            <p>A short description about the about the job position or educational program.</p>
            <p>Month YYYY - Month YYYY</p>

            <div class="skills-container center">
                <label>Skill</label>
                <label>Skill</label>
                <label>Skill</label>
            </div>

        </div>

        <div class="experience-card">
            <p>Name of the school or company</p>
            <p>Course name / Job Position</p>
            <p>A short description about the about the job position or educational program.</p>
            <p>Month YYYY - Month YYYY</p>

            <div class="skills-container center">
                <label>Skill</label>
                <label>Skill</label>
                <label>Skill</label>
            </div>

        </div>

    </div>

</section>
{% endblock %}